# DB
DB_USER=postgres
DB_PASSWORD=password
DB_NAME=dbtable
DB_HOST=localhost # local db | prod on docker compose env (db)
DB_PORT=5432

# SERVICE TO SERVICER KEY
INTERNAL_API_SECRET=testtest

# Time Zone Docker
TZ=Asia/Bangkok

# API APP
JWT_SECRET=JWT_SECRET
INITIAL_ADMIN_USERNAME=admin
INITIAL_ADMIN_PASSWORD=password
SERVER_API_PORT=8080
SMS_API_URL=pass
SMS_API_KEY=pass
SMS_API_SECRET=pass
SMS_SENDER=pass
MAIL_HOST=pass
MAIL_PORT=pass
MAIL_ENCRYPTION=pass
MAIL_USERNAME=pass
MAIL_PASSWORD=pass
LINE_NOTIFY_TOKEN=pass
COOLDOWN_NOTIF_SEND=3
LOG_API_DIR=./local_logs/api # local log | prod on docker compose env (/app/logs)
LOG_API_MAX_SIZE=10
LOG_API_MAX_BACKUP=5
LOG_API_MAX_AGE=28
log_api_level=info

# SCHEDULE ENGINE APP
SCHEDULE_ENGINE_URL=http://localhost:8081 # local url | prod on docker compose env (http://server-schedule-engine:8081)
SERVER_SCHEDULE_ENGINE_PORT=8081
LOG_SCHEDULE_ENGINE_DIR=./local_logs/schedule # local log | prod on docker compose env (/app/logs)
LOG_SCHEDULE_ENGINE_MAX_SIZE=10
LOG_SCHEDULE_ENGINE_MAX_BACKUP=5
LOG_SCHEDULE_ENGINE_MAX_AGE=28
LOG_SCHEDULE_ENGINE_LEVEL=info

# DEVICE GATEWAY APP
DEVICE_GATEWAY_URL=http://localhost:8091 # local url | prod on docker compose env (http://server-device-gateway:8091)
DEVICE_GATEWAY_PORT=8090
DEVICE_GATEWAY_HTTP_PORT=8091
MQTT_BROKER_URL=tcp://localhost:1883 # local url | prod on docker compose env (tcp://mqtt-broker:1883)
DEVICE_GATEWAY_QUEUE_BUFFER=300
DEVICE_GATEWAY_QUEUE_TIMEOUT_SECOND=3
LOG_DEVICE_GATEWAY_DIR=./local_logs/devicegateway # local log | prod on docker compose env (/app/logs)
LOG_DEVICE_GATEWAY_MAX_SIZE=10
LOG_DEVICE_GATEWAY_MAX_BACKUP=5
LOG_DEVICE_GATEWAY_MAX_AGE=20
LOG_DEVICE_GATEWAY_LEVEL=info

# S3 / Garage
S3_URL=http://localhost:3900 # local url | prod on docker compose env
S3_REGION=garage
S3_ACCESS_KEY=your_generated_access_key
S3_SECRET_KEY=your_generated_secret_key
S3_IMAGE_BUCKET=iot-images